@import 'src/styles/00_base/_charte.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

  &:focus{
    outline: 1px dotted $primaryColor;
  }
}

html body {
  font-family: $fontFamily;
  font-size: 16px;
  line-height: 2rem;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  color: $textColor;

  main {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
  }
}

a{
  text-decoration: none;
  color: inherit;
}


