@import 'src/styles/00_base/charte';

// Mixins

@mixin button-style($color, $border, $backgroundColor) {
  min-width: 160px;
  background-image: $backgroundColor;
  background: $backgroundColor;
  color: $color;
  padding: 10px 17.5px;
  font-weight: 500;
  font-size: 20px;
  font-family: $fontFamily;
  border: $border;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.5s ease, background-position .75s ease; // Transition plus lente pour le dégradé
  background-size: 200% 100%; // Double la taille du background pour permettre l'animation
  background-position: 200% 50%; // Place le début du dégradé à gauche
  @include animate-translateY();
}

@mixin animate-translateY() {
  &:hover {
    transform: scale(1.05); // Ajoute un effet de mise à l'échelle
    background-position: 100% 50%; // Déplace le dégradé vers la droite
  }
}

body button:not(.outline) {
  @include button-style(white, none, linear-gradient(90deg, $primaryColor, #021348));
}
body button,.outline {
  @include button-style(white, 1px solid white, transparent);
}

@mixin heading-style($font-size, $margin-bottom, $font-weight) {
  color: $textColor;
  font-weight: $font-weight;
  margin-bottom: $margin-bottom;
  margin-top: $margin-bottom;
  line-height: 1.3;
  font-size: $font-size;
}

h1 {
  @include heading-style(28px, 0, 500);
}

h2 {
  @include heading-style(26px, 1em, 400);
}

h3 {
  @include heading-style(24px, 0, 400);
}

@media screen and (min-width: 768px){
  h1 {
    @include heading-style(32px, 0, 500);
  }

  h2 {
    @include heading-style(28px, 1em, 500);
  }

  h3 {
    @include heading-style(24px, 0, 400);
  }
}

@mixin paragraph-style($font-size, $margin-bottom) {
  color: #666;
  font-size: $font-size;
  margin-bottom: $margin-bottom;
  line-height: 1.6;
}

body p {
  @include paragraph-style(16px, 1em);
}

@media screen and (min-width: 768px){
  body p {
    @include paragraph-style(18px, 1.5em);
  }
}



@mixin section-style($section-color, $color) {
  &:not(:first-child) {
    padding: 50px 15px;
    >*{
      padding: 20px 30px;
    }
  }
  h2{
    color: $color;
  }
  padding: 20px 15px 60px 15px;
  background: $section-color;
  >*{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

    @media screen and (min-width: 768px) {
      &:not(:first-child) {
        padding: 120px 30px;
      }
      h2{
        color: $color;
      }
      padding: 75px 30px 110px 30px;
      >*{
        text-align: inherit;
      }
    }
}

body .section-primary {
  @include section-style($section-primary, $textColor);
}

body .section-secondary {
  @include section-style($section-secondary, white);
}

@mixin text-color($color: $textColor) {
  color: $color;
}

.text-extra-light {
  @include text-color($text-extra-light-color);
}

.text-light {
  @include text-color($text-light-color);
}
