header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #ffffff;
  box-shadow:  15px 15px 20px #f3f3f3, -2px -20px 25px #f6f6f6;
  padding: 1rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
    list-style: none;
    display: flex;
    gap: 25px;
  }
}