header{
  background: transparent;
  padding: 20px 30px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1000;
    width: 100%;

  ul{
    display: none;
  }

  button{
    display: none;
  }

  .burger-menu{
    cursor: pointer;
    margin-right: 5px;
  }
}

@media screen and (min-width: 992px){
  header{
    ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
      gap: 85px;
      font-weight: 300;
      font-size: 24px;
      // Make progress bar under the nav links in white color with 1px height
        li{
            position: relative;
            &:after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 1px;
            background: white;
            transition: width 0.3s;
            }
            &:hover:after{
            width: 100%;
            }
        }
    }
    button{
      display: inline;
    }
    .burger-menu{
      display: none;
    }
  }
}

@media screen and (min-width: 1224px){
  header{
    ul{
    }
  }
}

